# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/emberApp/dist
/emberApp/tmp

# dependencies
/emberApp/node_modules
/emberApp/bower_components

# misc
/emberApp/.sass-cache
/emberApp/connect.lock
/emberApp/coverage/*
/emberApp/libpeerconnection.log
/emberApp/npm-debug.log*
/emberApp/testem.log
