<br/>
<article class="listing"> 
        <form {{action 'answerquestion' question  on="submit"}}>
        <dl>
        <dt>Answer:<br> {{textarea value=text cols="80" rows="2"}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Answer!</button>
	</form>
</article><br/>