<br/>
<article class="listing">  
        <h1>New Question</h1>
        <form {{action 'savequestion' on="submit"}}>

        <dl>
        <dt>Question:<br> {{textarea value=text cols="80" rows="6"}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Ask!</button>
	</form>
</article>
