<br/>
<div class="jumbo">  
        <h1>New Question</h1>

        <form {{action 'save' on="submit"}}>

        <dl>
        <dt>Question:<br> {{textarea value=description cols="80" rows="6"}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Add</button>
        </form>
</div>