<div class="container">
	<div class="menu">
		{{#link-to 'index'}}
			<h1 class="left">
				<em>Course NEBULA</em>
			</h1>
		{{/link-to}}
		<div class="left links">
			{{#link-to 'courses'}}
				Courses
			{{/link-to}}
			{{#link-to 'about'}}
				About
			{{/link-to}}
		</div>
		<div class="right links">
			 {{#if session.isAuthenticated}}
     				 <a {{action 'logout'}} class="btn btn-danger navbar-btn pull-right">Logout</a>
    			{{else}}
      				<a {{action 'login'}} class="btn btn-success navbar-btn pull-right">Login</a>
    			{{/if}}
		</div>

	</div>
	<div class="body">
		{{outlet}}		
	</div>



</div>
