<h1>Hello, {{model.user.name}}<br></h1>

{{file-uploader isDisabled=uploadDisabled fileInputChanged="receiveFile" uploadProgress="uploadProgress" }}

<br>

{{#if isDownloading}}
  <b>loading...</b>
  {{/if}}

  {{#each assets as |file|}}
    <b {{action 'downloadFile' file}} class="asset">{{file.path}}</b><br>
	 {{/each}}
