{{outlet}}

<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Course Nebula</h2>
  <p>
    Course Nebula helps UNL Computer Science and Engineering students with their courses. <br>
    Users can ask questions about material in a course, or how difficult that course may be. <br>
    Study guides can be uploaded for a course as well. <br>
  </p>
</div>

