{{outlet}}

<div class="login-page">
  <div class="form">
    <form class="login-form">
  		{{input id='email' placeholder='email' value=email}}
  		{{input id='password' placeholder='password' type='password' value=password}}
  		<button type="submit">login</button>
    </form>
  </div>
</div>
