{{outlet}}

<div class="jumbo">
	<a href="https://www.dropbox.com/1/oauth2/authorize?response_type=token&client_id=lx95l27jbt417v4&redirect_uri=http://localhost:4200/courseTest">  
  Upload Docs
</a> 
</div>

