<div class="jumbo">
     <h2>Available Courses</h2>
</div>

{{#list-filter filter=(action 'filterByCourse') as |model|}}
	<ul class="results">
		{{#each model as |singleCourse|}}
     			<li>{{course-listing course=singleCourse}}</li>
		{{/each}}
	</ul>
{{/list-filter}}
{{outlet}}
