<div class="container">
	<div class="menu">
		{{#link-to 'index'}}
			<h1 class="left">
				<em>Course NEBULA</em>
			</h1>
		{{/link-to}}
		<div class="left links">
			{{#link-to 'courses'}}
				Courses
			{{/link-to}}
			{{#link-to 'about'}}
				About
			{{/link-to}}
		</div>
		<div class="right links">
		  	{{#link-to 'login'}}Login{{/link-to}}
		</div>

	</div>
	<div class="body">
		{{outlet}}
	</div>



</div>
