{{outlet}}

<div class="jumbo">
     <h2>Available Courses</h2>
     <p>
	This is a placeholder page. Once completed, the list of courses available for students to view will be listed here with hyperlinks.<br><br>
	Once a student clicks a link, it will bring them to a database-populated page. We will not need to make a separate subpage for each class.
     </p>

     {{#each model as |singleCourse|}}
     	{{course-listing course=singleCourse}}
     {{/each}}
</div>